<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-header bg-success">
                User List
                <br>
                {{newUserObj | json}}
            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                        <th>Sr No</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (item of userList(); track $index) {
                            <tr>
                                <td>{{ $index + 1 }}</td>
                                <td>{{ item.fullName }}</td>
                                <td>{{ item.emailId }}</td>
                                <td>{{ item.userName }}</td>
                                <td>{{ item.password }}</td>
                                <td>
                                    <button class="btn btn-success" (click)="onEdit(item)">Edit</button>
                                </td>
                                <td><button class="btn btn-danger" (click)="onDeleteUser(item.userId)">Delete</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="col-3">
        <div class="card">
            <div class="card-header bg-success">
                User List    
            </div>
            <div class="card-body">
             <form #form ="ngForm">
                   <div class="row">
                    <div class="col-6">
                        <label for="">Full Name</label>
                        <input type="text" #name="ngModel" [(ngModel)]="newUserObj.fullName" name="fullName" required minlength="4" class="form-control">
                        @if(name.invalid && (name.touched || name.dirty)){
                            <div class="text-danger">
                            {{name.errors |json}}
                            <br>
                            @if(name.errors?.['required']){
                                <span>This is Required</span>
                            } @else if (name.errors?.['minlength']){
                                <span>Min 4 Char Needed</span>
                            }
                        </div> 
                        }
                        
                    </div>
                    <div class="col-6">
                        <label for="">Email</label>
                        <input type="text" #email="ngModel" [(ngModel)]="newUserObj.emailId" name="emailId" required minlength="8" class="form-control">
                        @if(email.invalid && (email.touched || email.dirty))
                        {
                            <div class="text-danger">
                            @if(email.errors?.['required']){
                                <span>This is Required</span>
                            } @else if (email.errors?.['required']){
                                <span>Enter a valid email address</span>
                            }
                        </div>
                        }  
                    </div>
                    <div class="col-6">
                        <label for="">UserName</label>
                        <input type="text" [(ngModel)]="newUserObj.userName" name="userName" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">password</label>
                        <input type="text" #password="ngModel" [(ngModel)]="newUserObj.password" name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&]).{8,}$" class="form-control">
                        @if(password.invalid && (password.touched || password.dirty)) {
                            <div class="text-danger">
                                @if(password.errors?.['required']){
                                    <span>This is Required</span>
                                    }@else if (password.errors?.['pattern']) {
                                    
                                    <span>
                                        Password must contain at least 1 uppercase, 1 lowercase,
                                        1 number, and 1 special character
                                    </span>
                                    
                                    }
                                    </div>
                        }
                    </div>
                </div>
             </form>
                <div class="row pt-3">
                    <div class="col-6">
                        @if(newUserObj.userId == 0) {
                            <button class="btn btn-primary" [disabled]="form.invalid" (click)="onSaveUser(form)">Save User</button>
                        }@else {
                            <button class="btn btn-warning" (click)="onUpdateUser()">Update User</button>
                        }
                        
                        
                    </div>
                    <div class="col-6 text-senter">
                        <button class="btn btn-secondary" (click)="onReset()">Reset Form</button>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</div>



